Flask
Flask-Cors
Flask-JWT-Extended==4.7.1
Flask-Limiter
Flask-SQLAlchemy
pyjwt<2.10
pydantic
python-dotenv
torch
transformers
Werkzeug
langchain
langchain_community
openai
opencv-python
ultralytics
supervision
flask-swagger-ui
